<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
  
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              About Us
            </a>
            <a class="navbar-item">
              Get Started
            </a>
  
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="row">
  <div class="col-7">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Garden Cook
        </p>
        <p class="subtitle">
          Garden Cook is a tool that will show how much you can save by growing your own vegetables and fruits rather than buying them! To gain access to recipe suggestions based on your garden, sign up!
        </p>
      </div>
    </div>
  </div>


    
        <div class="column is-5-tablet is-4-desktop is-3-widescreen is-centered">

          <br>
          <br>
          <br><br>
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="Enter your Email ID" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="Enter Password" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <div class="field">
              <a class="button is-primary" role="button" style="text-transform:none">
                Login
              </a>
              <a class="btn btn-outline-light" role="button" style="text-transform:none" (click)="loginWithGoogle()">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login with Google
              </a>
            </div>
          </form>
        </div>
      </div>

</section>