<nav class="navbar">
    <div class="container">
      <div class="navbar-brand">

        <span class="navbar-burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active">
            Home
          </a>
          <a class="navbar-item">
            About Us
          </a>
          <a class="navbar-item">
            Get Started
          </a>

        </div>
      </div>
    </div>
  </nav>